footer {
  background-color: var(--black);
  height: 48px;
  display: flex;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}

footer span {
  font: normal normal 400 16px/19px Montserrat;
  width: 100%;
}

footer > a {
  width: 100%;
  text-align: end;
}

footer a {
  color: inherit;
}

footer div {
  font: normal normal 800 18px/22px Montserrat;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}

footer .logo {
  height: 28px;
  width: auto;
}

@media screen and (max-width: 520px) {
  footer {
    padding: 0rem 2rem;
  }
  footer div {
    display: none;
  }

  footer span {
    font: normal normal medium 12px/15px Montserrat !important;
    white-space: pre;
  }
}
