.map-container {
  display: flex;
}

.map-container > div {
  background-color: var(--map-grey);
  display: flex;
  width: 100%;
  padding: 80px 160px;

  display: flex;
}

.map-container p {
  padding-bottom: 60px;
}

.flex-75 {
  width: 75% !important;
  height: auto;
}

form{

}

form div {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0rem 3rem;
  text-align: center;
  justify-content: center;
}

form span {
  text-align: start;
  font: normal normal normal 16px/16px Montserrat;
}

.select-div {
  display: flex;
  flex-direction: column;
}

.checkbox-content {
  gap: 1rem !important;
  display: flex;
  align-items: center;
}

.checkbox-content label {
  inline-size: max-content;
}

.select-div > div {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content !important;
  font: normal normal 500 16px/24px Montserrat;
}

@media screen and (max-width: 900px) {
  .map-container {
    flex-direction: column-reverse;
  }
  .map-container > div {
    padding: 0px;
  }

  form {
    padding: 40px 30px !important;
  }

  .flex-75 {
    width: 100% !important;
    height: 350px;
  }
}

@media screen and (max-width: 1400px) {

  .map-container > div {
    padding: 0px;
  }

  form {
    padding: 60px 80px;
  }

  form > div:nth-child(6) {
    flex-direction: column !important;
  }

  .flex-75 {
    width: 100% !important;
  }
}
