nav {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000 0% 0% no-repeat padding-box;
    justify-content: space-between;
    padding: 0rem 72px;
    width: auto;
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  nav .logo {
    position: absolute;
    height: 72px;
    top: 26px;
    left: 72px;
    width: auto;
  }
  
  nav .search-icon {
    width: 24px;
    height: 24px;
    padding-left: 2rem;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1416px;
    font: normal normal 800 18px/48px Montserrat;
    color: #ffffff;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
  }
  
  nav ul li {
    margin: 0px 23px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    border-bottom: transparent solid 8px;
    box-sizing: border-box;
  }
  
  nav ul li:first-child {
    color: var(--fancy-green);
    border-bottom: solid 8px;
    box-sizing: border-box;
  }
  
  nav div {
    width: 72px;
    font: normal normal bold 22px/27px Montserrat;
    color: #858585;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .active-lang {
    color: #ffffff;
  }
  
  .vr {
    border-left: #858585 2px solid;
    height: 24px;
  }
  