nav {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black) 0% 0% no-repeat padding-box;
  z-index: 3;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
}

nav .logo {
  position: absolute;
  height: 72px;
  top: -36px;
  left: 72px;
  width: auto;
  cursor: pointer;
}

nav .search-icon {
  width: 24px;
  height: 24px;
  padding-left: 2rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: var(--layout-width);
  font: normal normal 800 18px/48px Montserrat;
  color: var(--white);
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
}

nav ul li {
  margin: 0px 23px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  border-bottom: transparent solid 8px;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  cursor: pointer;
}

li > a {
  color: var(--white);
}

nav ul li:first-child {
  color: var(--fancy-green);
  border-bottom: solid 8px;
  box-sizing: border-box;
}

nav > div {
  min-width: 160px;
  font: normal normal bold 22px/27px Montserrat;
  color: #858585;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

nav > div:nth-child(1) {
  align-self: flex-end;
  top: 0px;
  left: 0px;
  padding-left: 6rem;
}

nav > div:nth-child(3) {
  padding-right: 6rem;
  right: 0px;
}

.active-lang a {
  color: var(--white) !important;
}

.lang-bar {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

div > a {
  color: inherit;
}

@media screen and (max-width: 1080px) {
  nav {
    display: none;
  }
}
