#search-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px 12rem;
  gap: 8rem;
  overflow: hiddenasd asd a;
}

#search-container {
  max-height: 480px;
  overflow: auto;
  position: relative;
  font: normal normal 800 100px/240px Montserrat;
}

.search-input,
.search-input:focus-visible,
.search-input:focus,
.search-input:target {
  position: absolute;
  opacity: 0 !important;
  pointer-events: none;
}

#fakeInput {
  display: inline;
  text-decoration-color: var(--fancy-green) !important;
  -moz-text-decoration-color: var(--fancy-green) !important;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-underline-offset: 30px;
  text-decoration-thickness: 20px;
  caret-color: transparent;
}

#placeholder {
  width: fit-content;
  text-decoration-color: var(--fancy-green) !important;
  -moz-text-decoration-color: var(--fancy-green) !important;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-underline-offset: 30px;
  text-decoration-thickness: 20px;
  padding-left: 2rem;
}

#placeholder-text {
  color: #cfcfcf !important;
  font: normal normal 800 100px/240px Montserrat;
  position: absolute;
  left: 6rem;
  white-space: nowrap;
}

.ph-underline {
  text-decoration-line: none !important;
  -moz-text-decoration-line: none !important;
  animation: blink 1s infinite;
  animation-fill-mode: both;
}

.hide {
  display: none;
}

.top-bar {
  position: absolute;
  min-height: 64px;
  display: flex;
  padding-right: 6rem;
  top: 0;
  right: 0;
  user-select: none;
}

.top-bar > img {
  cursor: pointer;
}

.guide-text {
  font: italic normal normal 18px/20px Montserrat !important;
  position: relative !important;
  align-items: center;
  left: 0px !important;
  bottom: 1rem;
}

modal {
  position: fixed;
  z-index: 4;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transition: all 0.3s ease-out;
}

.modal-show {
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
